#board {
    display: grid;
    grid-template-rows: 75px 75px 75px 75px 75px;
    grid-template-columns: 75px 75px 75px 75px 75px;
    background-image: url(https://www.biography.com/.image/t_share/MTE1ODA0OTcyMDA1Njg4ODQ1/tom-jones-21026065-1-sized.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.cell {
    border: solid 1px white;
}