body{
    margin:0;
    margin-bottom: 20px;
}
header{
    position: inherit !important;
}

html{
    background-color: black;     /* background-image: url(../assets/volcano-background1.gif); */
    background-repeat: repeat;
    margin-bottom: 0; 
    padding: 0;   
}

.board-location{

}

#user{
    justify-content: center;
    color: white;
    display: flex;
    text-align: justify;
}

#hp{
    display: inline-flex;
    color: orangered;
    flex-direction: row;
    margin-right: 6px; 
}

.items{
    display: inline;
    font-family: cursive;
    font-size: 18px;
    margin: 16px; 
    list-style: none;
}
<<<<<<< HEAD
.board-container{
    background-position: contain;
=======

#gold{
    color: gold;
}

#info{
margin-top: 2.45%;
margin-left: 1%;
color: white; 
border-style: outset;
border-width: 5px;
padding: 8px; 
background-image: url(../assets/itemCandle.gif);
background-size: 170%;
background-position: bottom;
background-repeat: no-repeat;



>>>>>>> 59399dc98b65b043eacbfbeef4e693bba65fe834
}

#stats{
    display: inline;
}

.main{
    display: flex; 
    justify-content: center;
    align-content: center;
}
#board {
    width: 600px;
    height: 570px;
    display: grid;
    justify-content: center;
    /* background-image: url(../assets/background1.gif); */
    /* background-image: -webkit-cross-fade(url(../assets/background1.gif) 25%, url(../assets/forest-background-image1.gif) 25%, url(../assets/underwater-background-image1.gif) 25%, url(../assets/village-background-image1.gif) 25%); */
    background-image:
        url(../assets/background1.gif);
        /* url(../assets/forest-background-image1.gif); */
        /* url(../assets/underwater-background-image1.gif); */
        /* url(../assets/village-background-image1.gif); */

    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    padding: 60px; 
}

.cell {
    border: solid 1px white;
    background-size: contain;
    background-repeat: no-repeat;
}

.empty {
    background-color: lightslategray;
}

.gold {
    background-color: lightslategray; 
    background-image: url(../assets/gold-star.gif);
}

.monster {
    background-color: lightslategray; 
    background-image: url(../assets/monster-icon.png); 
}

.item {
    background-color: lightslategray; 
    background-image: url(../assets/item-logo.gif);
}

.door {
    background-image: url('../assets/door.gif');
}

.displayPlayer {
    background-image: url('../assets/temp-char.png');
    border: dashed 3px green;
}

.door-open {
    background-image: url('../assets/door-open.gif');
    display: flex;
    justify-content: flex-start
}

#character {
    width: 80%;
    height: 80%;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.fade {
    opacity: 0;
}