#board {
    display: grid;
    grid-template-rows: 75px 75px 75px 75px 75px;
    grid-template-columns: 75px 75px 75px 75px 75px;
    background-image: url(https://www.biography.com/.image/t_share/MTE1ODA0OTcyMDA1Njg4ODQ1/tom-jones-21026065-1-sized.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.cell {
    border: solid 1px white;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 10;

}

.empty {
    background-color: lightslategray; 
    background-size: contain;
    background-repeat: no-repeat;
}

.gold {
    background-color: lightslategray; 
    background-image: url(../assets/gold-star.gif);
    background-size: contain;
    background-repeat: no-repeat;
}

.monster {
    background-color: lightslategray; 
    background-image: url(../assets/monster-icon.png); 
    background-size: contain;
    background-repeat: no-repeat;
}

.item {
    background-color: lightslategray; 
    background-image: url(../assets/item-logo.gif);
    background-size: contain;
    background-repeat: no-repeat;
}

.displayPlayer{
    background-color: red; 
}