.loading-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 35vh;
    width: 100vw;
    opacity: 0.7;
}

.loading-container img {
    width: 200px;
    border: 1px solid #aaa;
    border-radius: 10px;
    box-shadow: 1px 1px 3px black;
}