.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-image: url('../assets/old-tome-still-life-ii-tom-mc-nemar.jpg');
    background-position: center;
    background-size: cover;
}
.rules {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(11, 25, 13, 0.8);
    color: white;
    width: 50%;
}