@font-face {
    font-family: 'Soul Calibur';
    src: url(../assets/Soul_Calibur.ttf); 
}
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/original.gif');
    background-position: center;
    background-size: cover;
}
.rules {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(11, 25, 13, 0.8);
    width: 85vw;
    font-size: 16pt;
    color: #D2D1CD;
    border: 2px solid #D2D1CD;
    border-radius: 25px;
    box-shadow: 3px 3px 30px black;
}

h2 {
    text-align: center;
    font-size: 50px;
    letter-spacing: 10px;
    margin: 10px 0 20px 0;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.c-a-r {
    font-family: 'Soul Calibur';
    font-size: 60px;
    letter-spacing: 8px;
    padding: 20px;
}

br {
    display: block; 
    content: ""; 
    margin-top: 20px;
}

li {
    font-family: 'Press Start 2P', cursive;
}

.rules-list {
    width: 80vw;
}